.bct_box{
    background:#ffffff;
    max-width:640;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #222222;
    float:left;
    margin-right:15px;
    margin-top:15px;
}
.bct_innerbox {
    float:left;
    width:300px;
}
.bct_content{
    padding:15px;

}
.bct_center{
    text-align: center;
}
.bct_left{
    text-align: left;
}
.bct_content h2{
    border-bottom:1px dotted #222222;
    padding-top:0;
    clear:both;
}

#bc_logo{
    float:left;
    margin-right:20px;
}

#projectCreator,#projectTodo > li{
    border-bottom:1px dotted #222222;

}

#projectTodo li{
    padding-top:5px;
    padding-bottom:5px;
}
#projectCreator img{
    float:right;
    width:35px;
    height:35px;
}
#projectCreator span{
    display:block;
    padding-top:10px;
}
#projectCreator br{
    clear:both;
}

#todo_list li{
    cursor: move;
    background:#F5F5F5;
    padding:10px;
}

input.todo_list_field{
    width:80%;
    height:30px;
}
.handleicon{
    font-size:30px;
    padding-right:20px;
}
a.remove_todo{
    color:#ff0000;
    text-decoration: none;
    float:right;
    clear:right;
    padding-top:5px;
}
#todoSelected textarea{
    width:100%;
}
.loadercontent{
    clear:both; 
    padding-top:25px;
    padding-bottom:25px;
}

#todoInfo,#todoSelected,#projectDetails{
    display:none;
}